:root {
  --mainColor: #10002b;
  --secundaryColor: #240046;
  --black: #000;
  --vidro: rgba(0, 0, 0, 0.308);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  border: none;
  outline: none;
}
body {
  background: linear-gradient(
    160deg,
    var(--secundaryColor),
    var(--mainColor),
    var(--black)
  );
  color: #fff;
  height: 100dvh;
  padding-top: 4rem;
}
header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 99;
  background-color: #00000099;
  border-bottom: var(--border);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
header section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  flex-wrap: wrap;
}
.genres {
  padding: 5rem;
}
.row {
  padding-top: 4rem;
  position: relative;
}

.movies-row {
  display: flex;
  gap: 1rem;

  overflow-x: scroll;
  overflow-y: hidden;
  padding-bottom: 1rem;
}
.movies-row::-webkit-scrollbar {
  display: none;
}

.movies-row {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.card {
  min-width: 400px;
  max-width: 400px;

  border-radius: 12px;
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s ease;
}
.card img {
  width: 400px;
}
.card:hover {
  transform: scale(1.05);
  z-index: 2;
}
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  width: 48px;
  height: 48px;

  border-radius: 50%;
  border: none;

  background: rgba(102, 7, 204, 0.6);
  color: #fff;

  font-size: 2rem;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 5;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.row:hover .arrow {
  opacity: 1;
}

.arrow.left {
  left: 0;
}

.arrow.right {
  right: 0;
}

.arrow:hover {
  background: rgba(8, 95, 195, 0.85);
}
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  padding: 2rem;
}
